*{
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #e7e7e7;
}
input{
    margin-bottom: 15px;
    
}
form{
    border: 10px solid white;;
    border-left: 10px dashed white;
    border-right: 10px dashed white;
    padding: 50px;
}
img{
    
    display: flex;
}
