*{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(40, 40, 40, 0.5),rgba(20, 20, 20, 0.2)),url(pexels-life-of-pix-67468.jpg);
}
input{
    margin-bottom: 15px;
    
}
form{
    border-radius: 15px;
    background-color: #beb79e;
    opacity: 0.85;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
img{
    display: flex;
}
label{
    margin-left: 2px;
}


